<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="preload" href="/fonts/dejavusans/DejaVuSans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body data-section="{{section}}">

    <div id="topbar">
      <div id="sites">
        <a href="https://github.com/kkrruumm/basix-packages">basix-packages</a> |
        <a href="https://github.com/kkrruumm/bpm">bpm</a>
      </div>
    </div>

    <div id="headings">
      <h1 id="sitename">
{{path}}
      </h1>
    </div>

{{sidebar}}

    <div id="content">
